body {
    font-size: 1.6rem;
    min-height: 100vh;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.6rem;
}

header {
    position: relative;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#navbar ul {
    list-style-type: none;
    background-color: #555;
    margin: 0;
    overflow: hidden;
    padding: 1px;
    position: absolute;
    top: 0px;
    width: 100%;
}

#navbar ul li {
    margin-top: 10px;
    font-size: 14px;
    padding: 1px 12px;
}

#maisinfo, .atgrid{
   box-shadow: -1px 0px 29px 3px rgba(0,0,0,0.75);
}

.at-section__title{
  text-shadow: 1px;
}

#navbar ul li a {
    display: block;
    color: white;
    align-content: space-between;
    padding: 1px 1px;
    text-decoration: none;
}

#navbar ul li:nth-child(3) {
    margin-top: 11px;
    padding: 7px 13px 7px 13px;
    border-radius: 4px;
}

#footer {
    bottom: 0;
    width: 100%;
    list-style-type: none;
    background-color: #555;
    color: #fff;
    overflow: hidden;
    padding: 30px 30px 20px 30px;
}

#footer ul {
    padding: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#footer li {
    font-size: 14px;
    font-family: Montserrat;
    margin: 0px 0px 0px 0px;
    float: left;
}


#footermenu li:nth-child(2) {
    border-right: outset white 3px;
}

#footermenu li:nth-child(3) {
    border-right: outset white 3px;
}

#footermenu li:nth-child(4) {
    border-right: outset white 3px;
}




#footer ul li a {
    text-align: center;
    margin: 0px 5px 0px 0px;
    padding: 5px 10px 5px 10px;
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 12.5px;
}

#footerfooter {
    text-align: center;
    font-size: 9.8px;
}

#footerinfo {
    right: 50px;
    width: 550px;
    text-align: justify;
    line-height: 18px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    position: absolute;
    font-size: 13px;
}

#footertotal {}

bottomx {
    width: 50%;
}


/* css from hell */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px/1 'Montserrat', 'Montserrat';
    color: #555;
}

h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
}

#entrarbtn{
    font-family: Montserrat;
}

.login {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.login:hover, .login:focus, .login:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098d1;
  background-color: #2098d1;
  color: white;
}

#icon {
    border-radius: 100px;
}

h2{
    color: #00CAFF;
}


#underimg {
    background: #222222 url('https://images.unsplash.com/photo-1454165205744-3b78555e5572?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ca8c08d17555247f7580691500bb5351') no-repeat top center fixed;
      background-size: cover;
  /*  #91c5d2 to #e4f2f5 */
    height: 900px;
    padding: 10px 0px 0px 0px;
}

#maisinfo{
    background-color: white;
    padding: 40px 70px 20px 70px;
    line-height: 22px;
    font-size: 14,5px;
}