.login {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    overflow: hidden;
    transition-duration: 0.5s;
    transition-property: color, background-color;
  }
  
  .login:hover, .login:focus, .login:active {
    animation-name: hvr-back-pulse;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-color: #2098d1;
    color: white;
  }
  
  .login a {
      color: white;
  }
  
  .login {
      font-family: montserrat;
      color: #fff;
      text-decoration: none;
  }
  
  .login:hover {
      transition: all 0.3s ease 0s;
      background-color: #00CAFF;
  }

  .done_btn {
    color: #1ECD97;
    background: #FFF;
    border-style: solid;
    width: 417px;
    height: 45px;
    line-height: 3;
    margin-left: 20px;
    text-decoration: none;
    text-align: center;
    font-family: Montserrat;
    border-radius: 15px;
    outline: none;
    cursor:pointer;
}

.done_btn:hover {
    transition: all 0.3s ease 0s;
    background: #1ECD97;
    color: #FFF;
}