@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');

@import url('./tabs.css');
@import url('./input.css');
@import url('./footer.css');
@import url('./cta.css');


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: red;
}

body {
    font-family: 'Montserrat';
    font-size: 16px;
}

.container {
    lost-center: 980px;
}

.container.line {
    padding-bottom: 22px;
    border-bottom: 1px solid #737373;
}

.imagem {
    margin-left: 90px;
    margin-right: 90px;
}

.enviar {
    margin: 10px 40px 13px 22px;
}

.destaque {
    text-align: center;
}

.terms {
    color: #AAA;
    font-size: 10px;
    margin-left: 13px;
}

.terms a {
    color: #00a1cc;
}

.icon {
    border-radius: 100px;
}