@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');

@import url('./tabs.css');
@import url('./input.css');
@import url('./footer.css');
@import url('./cta.css');
@import url('./navbar.css');


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #b9b9b9;
    background: #222222 url('https://images.unsplash.com/photo-1523630952057-35a9379ba09d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0c13f2bfbf054de2d99b5356869a4581&auto=format&fit=crop&w=1350&q=80') no-repeat top center fixed;
    background-size: cover;
    position: relative;
    min-height: 100%;
    font-family: 'Montserrat';
    font-size: 16px;
}

.centered_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.container {
    lost-center: 980px;
}

.content {
    margin-top: 60px;
    padding: 80px 0px;
    background-color:#FFF;
    color: #385279;
}

.content_text {
    line-height: 24px;
    lost-column: 1/2;
}

.container.line {
    padding-bottom: 22px;
    border-bottom: 1px solid #737373;
}

.right {
    float: right;
}

.terms {
    color: #AAA;
    font-size: 10px;
    margin-left: 13px;
}

.terms a {
    color: #00a1cc;
}

.icon {
    border-radius: 100px;
}